{{ partial "header.html" . }}

<main>
    <div class="showcase">
    {{ range (.Paginate .Pages).Pages.GroupByDate "2006" }}
        <h2 class="group-headline">{{ .Key }}</h2>
        <div class="showcase-line"></div>
    {{ $len := len .Pages }}
    {{ $last := sub $len 1 }}
    {{ range $i, $e := .Pages }}
        <div class="two-column">
            <div class="two-column-box">
                <a href="{{ $e.Permalink }}">
                    <img src="/{{ $e.Params.feature_image }}" class="showcase-image"/>
                </a>
            </div>
            <div class="two-column-box">
                <div class="showcase-item">
                    <a href="{{ $e.Permalink }}">
                        <div class="showcase-item-title">{{ $e.Title }}</div>
                    </a>
                    <div class="showcase-item-description">{{ $e.Description }}</div>
                    <div class="showcase-item-tags">
                    {{ range .Params.Tags}}
                        <div class="showcase-item-tags-tag">
                        {{ . }}
                        </div>
                    {{ end }}
                    </div>
                    <time datetime="{{ $e.PublishDate }}" class="showcase-item-time">
                    {{ $e.PublishDate.Format "2006-01-02" }}
                    </time>
                </div>
            </div>
        </div>
    {{ if ne $i $last }}
        <div class="showcase-line"></div>
    {{ end }}
    {{ end }}
    {{ end }}
    </div>

    <div class="pagination">
    {{ if .Paginator.HasPrev }}
        <a href="{{ .Paginator.Prev.URL }}" class="left arrow">&#8592;</a>
    {{ end }}
    {{ if .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL }}" class="right arrow">&#8594;</a>
    {{ end }}

        <span>{{ .Paginator.PageNumber }}</span>
    </div>
</main>

{{ partial "footer.html" . }}