<head>
{{ template "_internal/google_analytics.html" . }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{{- if eq .URL "/" }}
    <meta name="description" content="{{ .Site.Params.Description }}">
{{- else if .Description }}
    <meta name="description" content="{{ .Description }}">
{{- end }}

    <!-- OGP -->
    <meta property="og:title" content="{{ .Title }}"/>
    <meta property="og:description"
          content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}"/>
    <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}"/>
    <meta property="og:url" content="{{ .Permalink }}"/>
{{/*{{ with .Params.images }}{{ range first 6 . }}*/}}
    {{/*<meta property="og:image" content="{{ . | absURL }}"/>*/}}
{{/*{{ end }}{{ end }}*/}}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Site.Params.profileImagePath }}"/>
{{ if .IsPage }}
{{ if not .PublishDate.IsZero }}
    <meta property="article:published_time" content="{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" | safeHTML }}"/>
{{ else if not .Date.IsZero }}
    <meta property="article:published_time"
          content="{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}"/>{{ end }}
{{ if not .Lastmod.IsZero }}
    <meta property="article:modified_time"
          content="{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" | safeHTML }}"/>{{ end }}
{{ else }}
{{ if not .Date.IsZero }}
    <meta property="og:updated_time" content="{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}"/>{{ end }}
{{ end }}{{ with .Params.audio }}
    <meta property="og:audio" content="{{ . }}"/>{{ end }}{{ with .Params.locale }}
    <meta property="og:locale" content="{{ . }}"/>{{ end }}{{ with .Site.Params.title }}
    <meta property="og:site_name" content="{{ . }}"/>{{ end }}{{ with .Params.videos }}
{{ range . }}
    <meta property="og:video" content="{{ . | absURL }}"/>
{{ end }}{{ end }}
    <!-- If it is part of a series, link to related articles -->
{{ $permalink := .Permalink }}
{{ $siteSeries := .Site.Taxonomies.series }}{{ with .Params.series }}
{{ range $name := . }}
{{ $series := index $siteSeries $name }}
{{ range $page := first 6 $series.Pages }}
{{ if ne $page.Permalink $permalink }}
    <meta property="og:see_also" content="{{ $page.Permalink }}"/>{{ end }}
{{ end }}
{{ end }}{{ end }}
{{ if .IsPage }}
{{ range .Site.Authors }}{{ with .Social.facebook }}
    <meta property="article:author"
          content="https://www.facebook.com/{{ . }}"/>{{ end }}{{ with .Site.Social.facebook }}
    <meta property="article:publisher" content="https://www.facebook.com/{{ . }}"/>{{ end }}
    <meta property="article:section" content="{{ .Section }}"/>
{{ with .Params.tags }}{{ range first 6 . }}
    <meta property="article:tag" content="{{ . }}"/>{{ end }}{{ end }}
{{ end }}{{ end }}
    <!-- Facebook Page Admin ID for Domain Insights -->
{{ with .Site.Social.facebook_admin }}
    <meta property="fb:admins" content="{{ . }}"/>{{ end }}

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="og:title" content="{{ .Title }}" />
    <meta name="og:description" content="{{ if .IsPage }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
    <meta name="og:image" content="{{ .Site.BaseURL }}{{ .Site.Params.profileImagePath }}" />
    <meta name="twitter:url" content="{{ .Permalink }}" />
    <meta name="twitter:site" content="@morizotter" />
    <meta name="twitter:creator" content="@morizotter" />


    <title>
    {{- if eq .URL "/" }}
				{{ .Site.Title }}
			{{- else }}
    {{ .Title }} &middot; {{ .Site.Title }}
    {{- end }}
    </title>

    <!-- CSS -->
{{- $inServerMode    := .Site.IsServer }}
{{- $cssTarget        := "css/style.css" }}
{{- $cssOptions        := cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "compressed") }}
{{- $style            := resources.Get "scss/tale.scss" | toCSS $cssOptions }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}images/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL}}images/apple-touch-icon.png">

    <!-- RSS -->
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}"/>
</head>
