{{ partial "header.html" . }}

<main>
    <div class="profile">
        <div class="two-column">
            <div class="two-column-box">
                <h2 class="group-headline">
                    Profile
                </h2>
                <div class="profile-body">{{ .Content }}</div>
            </div>
            <div class="two-column-box">
                <img class="profile-image" src="{{ .Site.BaseURL }}{{ .Site.Params.profileImagePath }}"/>
            </div>
        </div>
    </div>
    <div class="catalogue">
        <h2 class="group-headline">
            Interests / Work Field
        </h2>
        <p class="catalogue-item-title">
            |
        {{ with .Page.Params.interests }}
        {{ range . }}

        {{ . }} |

        {{ end }}
        {{ end }}
        </p>
    </div>
    <div class="catalogue">
        <h2 class="group-headline">
            News
        </h2>
    {{ $articles := where .Pages "Section" "articles" }}
    {{ range first 5 $articles.ByDate.Reverse }}
        <a href="{{ .Permalink }}" class="catalogue-item">
            <p class="catalogue-item-title">
                <time datetime="{{ .PublishDate }}"
                      class="catalogue-item-time">{{ .PublishDate.Format "2006-01-02" }}</time>{{ .Title }}
            </p>
        </a>
    {{ end }}
    </div>
    <div class="showcase">
        <h2 class="group-headline">
            Projects
        </h2>
        <div class="showcase-line"></div>
    {{ $projects := where .Pages "Section" "projects" }}
    {{ range $projects.ByDate.Reverse }}
        <div class="two-column">
            <div class="two-column-box">
                <a href="{{ .Permalink }}">
                    <img src="{{ .Params.feature_image }}" class="showcase-image"/>
                </a>
            </div>
            <div class="two-column-box">
                <div class="showcase-item">
                    <a href="{{ .Permalink }}">
                        <div class="showcase-item-title">{{ .Title }}</div>
                    </a>
                    <div class="showcase-item-description">{{ .Description }}</div>
                    <time datetime="{{ .PublishDate }}" class="showcase-item-time">
                    {{ .PublishDate.Format "2006-01-02" }}
                    </time>
                </div>
            </div>
        </div>
        <div class="showcase-line"></div>
    {{ end }}
    </div>
</main>

{{ partial "footer.html" . }}