.showcase {
  color: $default-color;
  font-family: $sans-serif;
  &-item {
    margin: 20px 16px;
    &-title {
      font-size: 1rem;
      font-weight: 10;
      margin-bottom: 5px;
    }
    &-description {
      font-size: 0.6rem;
      font-weight: 10;
    }
    &-time {
      font-size: 0.5rem;
    }
  }
  &-image {
    object-fit: cover;
    width: 100%;
    height: 200px;
    margin: 20px 0px;
  }

  a {
    color: $default-color;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

  &-line {
    border: $grey-2 0.5px solid;
  }
}

@media screen and (max-width: $media-800) {
  .showcase {
    &-item {
      margin: 0px 0px 10px 0px;
    }
  }
}